html, body{
	margin: 0;
	font-family: 'Montserrat', serif;
}

a {
	text-decoration: none;
}

a:active{
	color: black;
}

a:visited{
	color: black;
}

p{
	font-size: 14px;
	line-height: 1.6;
}

header{
	height: 20%;
}

#header_inner_div1{
	font-family: 'Montserrat', serif;
	color: #4798d5;
	width: 100%;
	padding: 4px 0;
	background-color: #fff;
	text-align: right;
	margin-right: 20px;
}

#header_inner_div1 img{
	width: 19px;
	height: 20px;
	vertical-align: bottom;
}

span{
	vertical-align: bottom;
	font-size: 16px;
}

.divider{
	padding: 12px 3px;
	color: #c9c9c9;
}

#header_inner_div2{
	display: flex;
}

#logo{
	width: 70%;
	display: inline;
	padding: 8px 20px;
	font-family: 'Roboto', serif;
	font-size: 26px;
}

#logo img{
	width: 40px;
	height: 40px;
	padding-right: 10px;
	vertical-align: -12px;
}

#menu{
	width: 30%;
	display: inline;
	padding: 0px 10px 5px 10px;
	/*text-align: center;*/
}

#menu img{
	width: 20px;
	height: 20px;
	vertical-align: text-bottom;
	padding-right: 12px;
}

nav{
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
	width: 80%;
	overflow: hidden;
	transition: width 1s;
	z-index: 99;
}

nav.slide-right{
	width: 0;
}

#close{
	display: block;
	height: 20px;
	margin: 10px 10px 20px 0;
}

#close img{
	width: 35px;
	height: 35px;
	float: right;
}

#menu ul{
	vertical-align: middle;
	list-style-type: none;
	display: block;
	margin-top: 50px;
}

#menu ul>li{
	font-family: 'Montserrat', serif;
	display: block;
	margin-right: 10px;
	margin-bottom: 25px;
	font-size: 14px;
	text-align: left;
}

#hamburger_icon{
	text-align: right;
	padding: 18px 10px 10px 10px;
}

#hamburger_icon svg{
	width: 20px;
	height: 20px;
}

#slide{
	width: 100%;
	height: 500px;
}

main{
	/*font-family: 'Roboto', serif;*/
	height: 100%;
}

#carousel{
	position: relative;
}

#animate-1{
	position: absolute;
	bottom: 150px;
	margin: 10px 10px 10px 20px;
	padding: 10px;
	background-color: #fff;
	width: 200px;
	border-radius: 8px;
	text-align: center;
	font-size: 27px;
	font-weight: 900;
	-webkit-animation: slide-fwd-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
			animation: slide-fwd-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


#animate-2{
	position: relative;
	bottom: 100px;
	margin: 10px 10px 10px 20px;
	padding: 10px;
	background-color: #fff;
	width: 180px;
	border-radius: 8px;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: -0.5px;
	color: #181818;
	line-height: 1.65;
	-webkit-animation: slide-fwd-top 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
			animation: slide-fwd-top 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#carousel button{
	font-family: 'Roboto', serif;
	position: absolute;
	font-size: 12px;
	bottom: 40px;
	margin: 12px 12px 12px 22px;
	padding: 10px 12px;
	color: #fff;
	font-weight: bolder;
	background-color: #4698d5;
	border: 0;
	-webkit-animation: slide-fwd-top 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
			animation: slide-fwd-top 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-fwd-top {
			  0% {
			    -webkit-transform: translateZ(0) translateY(0);
			            transform: translateZ(0) translateY(0);
			            opacity: 0;
			  }

			  50% {
			  	opacity: 0;
			  }

			  99%{
			  	opacity: 0;
			  }
			  100% {
			    -webkit-transform: translateZ(160px) translateY(-100px);
			            transform: translateZ(160px) translateY(-100px);
			            opacity: 1;
			  }
			}
			@keyframes slide-fwd-top {
			  0% {
			    -webkit-transform: translateZ(0) translateY(0);
			            transform: translateZ(0) translateY(0);
			            opacity: 0;
			  }
			  50% {
			  	opacity: 0;
			  }

			  100% {
			    -webkit-transform: translateZ(160px) translateY(-100px);
			            transform: translateZ(160px) translateY(-100px);
			            opacity: 1;
			  }
}


#what_we_do, #top_3_tech, #services, #engage, #blogs, #section-6, #explore{
	margin: 0 20px;
}

h3{
	margin: 4px 0;
	font-weight: 900;
}

h4{
	margin-top: 0;
	font-weight: 500;
}

h5{
	margin-bottom: 0;
	font-weight: lighter;
}

.centered {
	width: 100%;
}

.progress{
	text-align: center;
}

.progress p{
	margin-bottom: 0;
	font-size: 14px;
	font-weight: bolder;
	letter-spacing: 0.5px;
}

progress{
	width: 90%;
	text-align: center;
}

.container{
	text-align: center;
	width: 100%;
	background-color: #f5f5f5;
	color: #fff;
}

.percentage{
	display: block;
	text-align: right;
	height: 100%;
	font-size: 12px;
	background-color: #4698d5;
}

.animate-3{
	-webkit-animation: flow_right-1 1s linear;
	animation: flow_right-1 1s linear;
	margin-right: 0;
}

@keyframes flow_right-1 {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

.animate-4{
	-webkit-animation: flow_right-2 1.5s linear;
	animation: flow_right-2 1.5s linear;
	margin-right: 2%;
}

@keyframes flow_right-2 {
	0% {
		width: 0%;
	}
	100% {
		width: 98%;
	}
}

.animate-5{
	-webkit-animation: flow_right-3 1.7s linear;
	animation: flow_right-3 1.7s linear;
	margin-right: 10%;
}

@keyframes flow_right-3 {
	0% {
		width: 0%;
	}
	100% {
		width: 90%;
	}
}

#section-3{
	background-color: #f5f5f5;
	margin-top: 15px;
	z-index: 5;
}

#services, #blogs{
	text-align: center;
	padding: 5px 0;
}

.list_of_services{
	width: 100%;
	position: relative;
	margin-top: 20px;
}

.grid-container{
	margin-top: 80px;
}

.glyph{
	width: 28px;
	height: 26px;
	color: #fff;
    padding: 15px;
    margin: 5px 10px 70px 0px;
    position: relative;
    text-align: center;
    float: left;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 14px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.1)
}

.glyph:hover{
	box-shadow: 0px 0px 12px #4698d5;
}

.glyph img{
	width: 100%;
}

.content{
	padding-top: 1px;
	padding-left: 75px;
    text-align: left;
}

.content p{
	padding-bottom: 15px;
}

h2{
	margin: 0;
	font-weight: 900;
}

#section-4{
	margin-top: 15px;
}

#engage{
	text-align: center;
}

#engage img{
	width: 100%;
	margin-top: 55px;
}

#engage h4{
	margin-top: 15px;
	font-weight: bold;
}

#engage a{
	font-size: 14px;
}

#engage a:active{
	color: #4698d5;
}

#engage a:visited{
	color: #4698d5;
}

#section-5{
	background-color: #f5f5f5;
}

.grid-container-3{
	margin-top: 70px;
}
#all_blogs{
	text-align: left;
	background-image: url("../images/placeholder-image.jpg");
	background-repeat: no-repeat;
	padding: 80px 20px 20px 20px;
	margin: 30px 0;
}

#section-6{
	padding: 30px 0 20px 0;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

#technologies{
	text-align: center;
}

#section-6 img{
	width: 75px;
	height: 30px;
	margin: 8px 8px 15px 5px;
}

#section-7{
	text-align: center;
	background-color: #3a6ee8;
	color: #fff;
	padding: 30px 10px;
}

#explore p{
	font-family: 'Roboto', serif;
}

#get_started{
	font-family: 'Montserrat', serif;
	border: 0;
	border-radius: 5px;
	padding: 7px 10px;
	letter-spacing: 0px;
	background-color: rgb(70, 152, 213);
	color: white;
	box-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

footer{
	background-color: rgb(49, 49, 49);
	padding: 10px 20px;
	color: #8f8f8f;
}

hr{
	background-color: #8f8f8f;
}

footer h4{
	margin-top: 20px;
	margin-bottom: 10px;
	color: #4698d5;
}

footer a{
	display: block;
	margin: 14px 0;
	color: #8f8f8f;
}

#social_media a{
	display: inline;
}

#social_media img{
	width: 20px;
	margin-right: 5px;
}

#return_to_start{
	position: fixed;
	right: 20px;
	bottom: 20px;
	background-image: url("../images/backtotop.png");
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
    z-index: 9999;
    opacity: 0.7;
}


@media screen and (min-width: 420px){
	#section-6 img{
		width: 100px;
		height: 45px;
		padding-right: 16%;
	}

	.glyph{
		margin-bottom: 30px;
	}

	#engage div{
		margin-right: 5%;
		margin-left: 5%;
	}
}

@media screen and (min-width: 590px){
		#what_we_do img{
		width: 70%;
	}
}

@media screen and (min-width: 760px){
	#all_blogs{
		padding-top: 340px;
	}

	#engage img{
		height: 250px;
	}
}

@media screen and (min-width: 775px){
	.grid-container{
		display: grid;
		grid-template-columns: repeat(2, 0.7fr);
    	grid-gap: 10px;
    	margin: 80px 70px;
	}

	#appear{
		position: relative;
		margin-left: 100px;
		bottom: 100px;
	}

	#carousel img{
		height: 600px;
	}

	#engage img{
		height: 100%;
		margin-top: 0;
	}

	#engage {
		margin-right: 10%;
		margin-left: 10%;
	}

	#engage div{
		margin: 0;
	}

	.grid-container-2 {
    	display: grid;
    	grid-template-columns: repeat(2, 1fr);
    	grid-column-gap: 5px;
    	text-align: left;
    	margin-left: 10%;
    	margin-right: 10%;
    }

    .grid-container-2 div:nth-of-type(1) {
    	order: 2;
 	 }

 	 .grid-container-2 div:nth-of-type(2) {
    	order: 1;
 	 }

 	 .grid-container-2 div:nth-of-type(3) {
    	order: 3;
 	 }

 	 .grid-container-2 div:nth-of-type(4) {
    	order: 4;
 	 }

 	 .grid-container-2 div:nth-of-type(5) {
    	order: 6;
 	 }

 	 .grid-container-2 div:nth-of-type(6) {
    	order: 5;
 	 }

 	 .grid-container-2 div:nth-of-type(7) {
    	order: 7;
 	 }

 	 .grid-container-2 div:nth-of-type(8) {
    	order: 8;
 	 }

 	 .grid-container-2 div:nth-of-type(9) {
    	order: 10;
 	 }

 	 .grid-container-2 div:nth-of-type(10) {
    	order: 9;
 	 }

 	 .grid-container-2 div:nth-of-type(11) {
    	order: 11;
 	 }

 	 .grid-container-2 div:nth-of-type(12) {
    	order: 12;
 	 }

 	 .grid-container-3{
 	 	display: grid;
 	 	grid-template-columns: repeat(3, 1fr);
		grid-gap: 10px;
		margin-top: 0;
 	 }

 	 #all_blogs{
		padding-top: 120px;
	}
}


@media screen and (min-width: 800px){
	#header_inner_div1{
		margin-top: 12px;
	}

	#header_inner_div1 span{
		padding: 10px;
	}

	span#envo {
		padding-right: 0;
	}
	span#hello{
		padding-left: 0;
	}

	#header_inner_div2{
		padding: 20px;
	}

	#logo a{
		font-size: 54px;
	}

	#logo img{
		width: 70px;
		height: 60px;
		margin-left: 50px;
		padding-right: 20px;
	}

	#hamburger_icon svg{
		width: 120px;
		height: 30px;
		margin-top: 15px;
	}

	nav{
		width: 50%;
	}

	#section-6{
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		padding: 70px 0;
	}

}

@media screen and (min-width: 920px){
	#header_inner_div2{
		padding: 0;
	}

	nav {
		width: 100%;
		text-align: right;
	}

	#logo{
		width: 25%;
	}

	#logo img{
		margin-left: 10px;
	}
	#hamburger_icon{
		display: none;
	}

	nav.slide-right{
		width: 100%;
	}

	#close{
		display: none;
	}

	nav{
		position: relative;
		background-color: #fff;
		width: 80%;
		overflow: hidden;
		transition: width 1s;
		z-index: 99;
	}

	#menu{
		width: 75%;
	}

	#menu ul{
		vertical-align: middle;
		list-style-type: none;
		display: block;
		/*margin-top: 50px;*/
	}

	#menu ul>li{
		font-family: 'Montserrat', serif;
		display: inline;
		margin-right: 10px;
		margin-bottom: 25px;
		font-size: 14px;
		text-align: left;
	}

	.grid-container-4{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 40px;
		padding: 40px;
	}
}

@media screen and (min-width: 1000px){

	.grid-container-0{
		display: grid;
		grid-template-columns: repeat(2, 0.5fr);
		grid-gap: 10px;
		margin-right: 10%;
		margin-left: 10%;
		margin-bottom: 5%;
	}

	#what_we_do img{
		width: 90%;
		height: 300px;
	}

	.grid-container{
		display: grid;
		grid-template-columns: repeat(3, 0.7fr);
    	grid-gap: 10px;
    	margin: 80px 70px;
	}

	#carousel img{
		height: 800px;
	}

	#appear{
		position: relative;
		margin-left: 150px;
		bottom: 250px;
	}

	.grid-container-3 {
		grid-gap: 30px;
		margin-left: 5%;
		margin-right: 5%;
	}


}

@media screen and (min-width: 1090px){
	#section-6 img{
		width: 130px;
		height: 55px;
		padding-right: 5px;
	}
}