html, body{
	margin: 0;
	font-family: 'Montserrat', serif;
}

a {
	text-decoration: none;
}

a:active{
	color: black;
}

a:visited{
	color: black;
}

p{
	font-size: 14px;
	line-height: 1.6;
}

header{
	height: 20%;
}

#header_inner_div1{
	font-family: 'Montserrat', serif;
	color: #4798d5;
	width: 100%;
	padding: 4px 0;
	background-color: #fff;
	text-align: right;
	margin-right: 20px;
}

#header_inner_div1 img{
	width: 19px;
	height: 20px;
	vertical-align: bottom;
}

span{
	vertical-align: bottom;
	font-size: 16px;
}

.divider{
	padding: 12px 3px;
	color: #c9c9c9;
}

#header_inner_div2{
	display: flex;
}

#logo{
	width: 70%;
	display: inline;
	padding: 8px 20px;
	font-family: 'Roboto', serif;
	font-size: 26px;
}

#logo img{
	width: 40px;
	height: 40px;
	padding-right: 10px;
	vertical-align: -12px;
}

#menu{
	width: 30%;
	display: inline;
	padding: 0px 10px 5px 10px;
	/*text-align: center;*/
}

#menu img{
	width: 20px;
	height: 20px;
	vertical-align: text-bottom;
	padding-right: 12px;
}

nav{
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
	width: 80%;
	overflow: hidden;
	transition: width 1s;
	z-index: 99;
}

nav.slide-right{
	width: 0;
}

#close{
	display: block;
	height: 20px;
	margin: 10px 10px 20px 0;
}

#close img{
	width: 35px;
	height: 35px;
	float: right;
}

#menu ul{
	vertical-align: middle;
	list-style-type: none;
	display: block;

}

#menu ul>li{
	font-family: 'Montserrat', serif;
	display: block;
	margin-right: 10px;
	margin-bottom: 25px;
	font-size: 14px;
	text-align: left;
}

#hamburger_icon{
	text-align: right;
	padding: 18px 10px 10px 10px;
}

#hamburger_icon svg{
	width: 20px;
	height: 20px;
}

#slide{
	width: 100%;
	height: 500px;
}

main{
	/*font-family: 'Roboto', serif;*/
	height: 100%;
}

#what_we_do, #top_3_tech, #services, #engage, #blogs, #section-6, #explore{
	margin: 0 20px;
}

h3{
	margin: 4px 0;
	font-weight: 900;
}

h4{
	margin-top: 0;
	font-weight: 500;
}

h5{
	margin-bottom: 0;
	font-weight: lighter;
}

.centered {
	width: 100%;
}

.progress{
	text-align: center;
}

.progress p{
	margin-bottom: 0;
	font-size: 14px;
	font-weight: bolder;
	letter-spacing: 0.5px;
}

progress{
	width: 90%;
	text-align: center;
}

#section-3{
	background-color: #f5f5f5;
	margin-top: 15px;
	z-index: 5;
}

#services, #blogs{
	text-align: center;
	padding: 5px 0;
}

.list_of_services{
	width: 100%;
	position: relative;
	margin-top: 20px;
}

.list_of_services:first-of-type{
	margin-top: 80px;
}

.glyph{
	width: 28px;
	height: 26px;
	color: #fff;
    padding: 15px;
    margin: 5px 10px 70px 0px;
    position: relative;
    text-align: center;
    float: left;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 14px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.1)
}

.glyph:hover{
	box-shadow: 0px 0px 12px #4698d5;
}

.glyph img{
	width: 100%;
}

.content{
	padding-top: 1px;
	padding-left: 75px;
    text-align: left;
}

h2{
	margin: 0;
	font-weight: 900;
}

#section-4{
	margin-top: 15px;
}

#engage{
	text-align: center;
}

#engage img{
	width: 100%;
	margin-top: 55px;
}

#engage h4{
	margin-top: 15px;
	font-weight: bold;
}

#engage a{
	font-size: 14px;
}

#engage a:active{
	color: #4698d5;
}

#engage a:visited{
	color: #4698d5;
}

#section-5{
	background-color: #f5f5f5;
}

#all_blogs{
	text-align: left;
	background-image: url("../images/placeholder-image.jpg");
	padding: 80px 20px 20px 20px;
	margin: 30px 0;
}

#section-6{
	padding: 50px 0 20px 0;
}

#section-6 img{
	width: 75px;
	height: 30px;
	margin: 8px 8px 15px 5px;
}

#section-7{
	text-align: center;
	background-color: #3a6ee8;
	color: #fff;
	padding: 30px 10px;
}

#explore p{
	font-family: 'Roboto', serif;
}

#get_started{
	font-family: 'Montserrat', serif;
	border: 0;
	border-radius: 5px;
	padding: 7px 10px;
	letter-spacing: 0px;
	background-color: rgb(70, 152, 213);
	color: white;
	box-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

footer{
	background-color: rgb(49, 49, 49);
	padding: 10px 20px;
	color: #8f8f8f;
}

hr{
	background-color: #8f8f8f;
}

footer h4{
	margin-top: 20px;
	margin-bottom: 10px;
	color: #4698d5;
}

footer a{
	display: block;
	margin: 14px 0;
	color: #8f8f8f;
}

#social_media img{
	width: 30px;
}

#return_to_start{
	position: fixed;
	right: 20px;
	bottom: 20px;
	background-image: url("images/backtotop.png");
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
    z-index: 9999;
    text-indent: -9999px;
}
